{% extends 'base.html' %}

{% block content %}
<!-- ヘッダ -->
<div class="header text-center border-bottom pb-2 pt-3">
    <h1>FINAL STEP</h1>
</div>

<!-- コンテナ生成 -->
<div class="container p-4 ">
    <div class="row d-flex justify-content-center">
        <!-- 画面が大きくなったときは、横いっぱいに伸びないようにする -->
        <div class="col-md-5 mb-4 ml-3">
            <div class="completedText text-center p-4">
                <h2>本登録が完了しました</h2>
            </div>

            <!-- 注意事項が書いてある -->
            <section style="padding-top:2rem;">
                <ol>
                    <li style="padding-bottom: 2rem;">ご入力いただいたメールアドレスに
                        ”本登録へのご案内”メールを送信しました。</li>
                </ol>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'home' %}" class="btn btn-primary">ホーム画面へ</a>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}