{% extends 'base.html' %}

{% block content %}

<!-- ヘッダ -->
<div class="header text-center border-bottom pb-2 mt-3">
    <h1>STEP1</h1>
    <h2>アカウントを作成</h2>
</div>

<!-- コンテナ生成 -->
<div class="container p-4 ">
    <div class="row d-flex justify-content-center">
        <!-- 画面が大きくなったときは、横いっぱいに伸びないようにする -->
        <div class="col-md-12 col-lg-5 mb-4 ml-3">

            <!-- 入力フォーム -->
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="id_username" class="form-label">ユーザ名</label>
                    <input type="text" name="username" autofocus class="form-control" id="id_username">
                    <div class="form-text">{{ form.username.errors.0 }}</div>
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">メールアドレス</label>
                    <input type="email" name="email" autofocus class="form-control" id="id_email">
                    <div class="form-text">{{ form.email.errors.0 }}</div>
                </div>
                <div class="mb-3">
                    <label for="id_password1" class="form-label">パスワード</label>
                    <input type="password" name="password1" autocomplete="new-password" class="form-control" id="id_password1">
                    <div class="form-text">{{ form.password1.errors.0 }}</div>
                </div>
                <div class="mb-3">
                    <label for="id_password2" class="form-label">パスワード（確認用）</label>
                    <input type="password" name="password2" autocomplete="new-password" class="form-control"  id="id_password2">
                    <div class="form-text">{{ form.password2.errors.0 }}</div>
                </div>

                <p><input type="hidden" name="next" value="{{ next }}"></p> 
                <!-- 戻る、確定、アカウントをお持ちの方、ボタン -->
                <div class="d-flex justify-content-between pt-4 pb-2">
                    <!-- アプリ紹介画面へ -->
                    <a href="{% url 'top' %}" button type="button" class="btn btn-outline-primary">戻る</a>

                    <!-- 確定する -->
                    <button type="submit" class="btn btn-primary">確定</button>
                </div>
            </form>

             <!-- アカウントをお持ちの方 -->
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="{% url 'login' %}"button type="button" class="btn btn-primary">アカウントをお持ちの方</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}