section ol {
	margin: 0;
	padding: 0;
	font-size: 86%;
	list-style: none;
    padding-top: 0.5rem;
}
section ol li {
    padding-top: 1.2rem;
	padding-left: 2.5rem;
	line-height: 2.5em;
	background: left top no-repeat;
	background-size: 30px auto;
    border-bottom: 1px solid;
}
section ol li:nth-child(n) {
	background-image: url(./images/account_circle_FILL0_wght400_GRAD0_opsz48.png);
    background-size: 35px;
    background-position-y: bottom;
}

section ol li .addPlus{
    width: 35px;
    height: 35px;
    float: right;
    background-repeat: no-repeat;
}

.error{
    padding-left: 1.5rem;
    padding-top: 0;
}

.modal-buttons{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
