img {
    max-width: 100%;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 10em;
}

.base {
    width: 100%;
    min-height: 100vh;
    background: #252525;
    position: relative;
}

.sp-limit {
    position: relative;
    background: #fff;
    max-width: 560px;
    margin: 0 auto;
    min-height: 100vh;
}

.snowField {
    position: absolute;
    width: 100%;
    height: 100%;
}

.spinner-border{
    display: none!important;
}
.btn.is-load {
    pointer-events: none;
}
.btn.is-load .spinner-border {
    display: inline-block!important;
    margin-right: .5em;
}

.modal-open { 
    padding: 0!important;
}