.navbar-brand {
    width: 40px;
}
@media (max-width: 480px) {
    .navbar-brand span {
        display: none;
    }
}

.mainVisual {
    width: 100%;
    margin-top: 50px;
}
.mainVisual__img {
    width: 250px;
    margin: 0 auto;
}
.bigTxt {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

.meritBoxSlide {
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btmCont {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btmCont .bigTxt{
    margin-top: 0;
}

.footer {
    padding: 1em;
    text-align: center;
}
.footer p {
    margin: 0;
}