.sp-only {
    display: none;
}
.pc-only {
    display: block;
}
@media (max-width: 580px) {
    .sp-only {
        display: block;
    }
    .pc-only {
        display: none;
    }
}

.navbar-brand {
    width: 40px;
}
@media (max-width: 480px) {
    .navbar-brand span {
        display: none;
    }
}
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.mainVisual {
    width: 100%;
    margin-top: 50px;
}
.mainVisual__img {
    width: 250px;
    margin: 0 auto;
}
.bigTxt {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

.meritBoxSlide {
    max-width: 1440px;
    margin: 0 auto;
}

.meritBoxSlide__inner {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btmCont {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}
.btmCont .bigTxt{
    margin-top: 0;
}

.footer {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1em;
    text-align: center;
}
.footer p {
    margin: 0;
}