{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content %}

<!-- modal_accountSetting -->
<div class="modal fade" id="modal_accountSetting" tabindex="-1" aria-labelledby="modal_accountSettingLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="margin-right: auto; width: 1rem;"></div>
                <h5 class="modal-title" id="modal_accountSettingLabel">アカウント設定</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- アカウントの編集 -->
                <ul class="account_edit">
                    <div class="accountEdit__icon cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal_checkPassword" data-bs-dismiss="modal">
                        <img src="{% static 'home/images/settings_image.svg' %}" alt="">アカウントの編集
                    </div>
                </ul>
                <hr>
                <ul class="account_delete">
                    <div class="accountDelete__icon cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal_accountDelete" data-bs-dismiss="modal">
                        <img src="{% static 'home/images/error_image.svg' %}" alt="">
                        <span style="color: red">アカウントを削除</span>
                    </div>
                </ul>
            </div>
            <div class="modal-footer d-flex justify-content-center cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal_accountLogout" data-bs-dismiss="modal">
                <button type="button" class="btn btn-primary">ログアウト</button>
            </div>
        </div>
    </div>
</div>

<!-- modal_checkPassword -->
<div class="modal fade" id="modal_checkPassword" tabindex="-1" aria-labelledby="modal_checkPasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="modal_checkPasswordLabel">パスワード入力</h5>
            </div>
            <div class="modal-body">
                <form id="form_checkPassword">
                    <input type="hidden" name="url" value="{% url 'check_password' %}">
                    <div class="mb-4">
                        <input type="password" name="password" autocomplete="new-password" class="form-control" placeholder="password">
                        <div class="form-text"></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_accountSetting" data-bs-dismiss="modal">戻る</button>
                        <button type="submit" class="btn btn-primary">確定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modal_accountEdit -->
<div class="modal fade" id="modal_accountEdit" tabindex="-1" aria-labelledby="modal_accountEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="modal_accountEditLabel">アカウント編集</h5>
            </div>
            <div class="modal-body">
                <p>よく分からないエラーが出てくるため、まだ実装できていない。<br>(確定を押しても何もされない）</p>
                <form id="form_userUpdate">
                    <input type="hidden" name="url" value="{% url 'user_update' %}">
                    <div class="mb-3">
                        <label class="form-label">アイコン</label>
                        <input class="form-control" type="file" name="icon" accept="image/*">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">ユーザ名</label>
                        <input type="text" name="username" autofocus class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">メールアドレス</label>
                        <input type="email" name="email" autofocus class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">パスワード</label>
                        <input type="password" name="password" autocomplete="new-password" class="form-control">
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_accountSetting" data-bs-dismiss="modal">戻る</button>
                    <button type="submit" class="btn btn-primary">確定</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modal_accountDelete -->
<div class="modal fade" id="modal_accountDelete" tabindex="-1" aria-labelledby="modal_accountDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="modal_accountDeleteLabel">アカウント削除</h5>
            </div>
            <div class="modal-body">
                <form id="form_userDelete">
                    <input type="hidden" name="url" value="{% url 'user_delete' %}">
                    <input type="hidden" name="collect_username" value="{{ request.user.username }}">
                    <p style="color:gray">本当に削除しますか？<br>削除する場合は「{{ request.user.username }}」と入力してください。</p>
                    <div class="mb-4">
                        <input type="text" name="username" autofocus class="form-control" placeholder="ユーザ名">
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_accountSetting" data-bs-dismiss="modal">戻る</button>
                        <button type="submit" class="btn btn-primary">削除</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modal_accountLogout -->
<div class="modal fade" id="modal_accountLogout" tabindex="-1" aria-labelledby="modal_accountLogoutLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="modal_accountLogoutLabel">ログアウト</h5>
            </div>
            <div class="modal-body">
                <p style="color:gray">ログアウトしますか？</p>
                <div class="modal-body d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_accountSetting" data-bs-dismiss="modal">キャンセル</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">ログアウト</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal_todoCreate -->
<div class="modal fade" id="modal_todoCreate" tabindex="-1" aria-labelledby="modal_todoCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div style="margin-right: auto; width: 1rem;"></div>
                <h5 class="modal-title" id="modal_todoCreateLabel">タスクの作成</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 1.5rem;">
                <form id="form_todoCreate">
                    <input type="hidden" name="url" value="{% url 'todo_create' %}">
                    <table class="table-res-form mb-4">
                        <!-- タスク名 -->
                        <tr>
                            <th>タスク名</th>
                            <!-- 入力フォーム -->
                            <td><input type="text" class="form-control" name="taskName"></td>
                        </tr>
                        <!-- エラーダイアログ -->
                        <tr>
                            <th class="error task-error"></th>
                        </tr>

                        <!-- 期限日 -->
                        <tr>
                            <th>期限日</th>
                            <td>
                                <div class="btn-group d-flex justify-content-between mt-2">
                                    <!-- 年 -->
                                    <div class="dropdown">
                                        <select class="year btn btn-light" name="year">
                                        </select>
                                    </div>
                                    <p class="date">年</p>

                                    <!-- 月 -->
                                    <div class="dropdown">
                                        <select class="month btn btn-light" name="month">
                                        </select>
                                    </div>
                                    <p class="date">月</p>

                                    <!-- 日 -->
                                    <div class="dropdown">
                                        <select class="day btn btn-light" name="day">
                                        </select>
                                    </div>
                                    <p class="date">日</p>
                                </div>
                            </td>
                        </tr>
                        <!-- エラーダイアログ -->
                        <tr>
                            <th class="error deadline-error"></th>
                        </tr>

                        <!-- 重要度 -->
                        <tr>
                            <th>重要度</th>
                            <td>
                                <!-- それぞれラジオボタンで実装 -->
                                <div class="d-flex justify-content-between">
                                    <div class="form-check form-check-inline" style="justify-content:start;">
                                        <input class="form-check-input" type="radio" name="importance">
                                        <label class="form-check-label">高</label>
                                    </div>
                                    <div class="form-check form-check-inline" style="justify-content: center;">
                                        <input class="form-check-input" type="radio" name="importance" checked>
                                        <label class="form-check-label">中</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="importance">
                                        <label class="form-check-label">低</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- エラーダイアログ 重要度にエラーはないので空白-->
                        <tr>
                            <th class="error importance-error"></th>
                        </tr>

                        <!-- メモ -->
                        <tr>
                            <th>メモ</th>
                            <!-- 入力フォーム -->
                            <td>
                                <textarea class="input-memo" cols="35" rows="10" name="note"></textarea>
                                <!-- 文字数制限 -->
                                <p class="note-limit">あと<span class="num">300</span>文字まで入力できます</p>
                            </td>
                        </tr>
                        <!-- エラーダイアログ -->
                        <tr>
                            <th class="error note-error"></th>
                        </tr>

                        <!-- 依頼者 -->
                        <tr>
                            <th>依頼者</th>
                            <!-- 入力フォーム -->
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_todoSelectRequest" data-bs-dismiss="modal">依頼者を選択する</button>
                                <button type="button" class="btn btn-primary" style="margin-left: 1rem;" data-bs-toggle="modal" data-bs-target="#modal_todoSelectBocchi" data-bs-dismiss="modal">ぼっちモード</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modal_todoSelectRequest -->
<div class="modal fade" id="modal_todoSelectRequest" tabindex="-1" aria-labelledby="modal_todoSelectRequestLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div style="margin-right: auto; width: 1rem;"></div>
                <h5 class="modal-title" id="modal_todoSelectRequestLabel">依頼者選択</h5>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#modal_todoCreate" data-bs-dismiss="modal"></button>
            </div>
            <div class="container-fluid p-1 m-4 mb-0"
                style="background-color:rgb(228, 228, 228,0.3); height: 40rem; width: auto; overflow-y: scroll;">
                <div class="modal-body" style="padding: 1.5rem;">
                    <form id="form_accountFind">
                        <input type="hidden" name="url" value="{% url 'user_find' %}">
                        <div class="input-group">
                            <input type="text" name="searchname" class="form-control" placeholder="ユーザ名">
                            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>

                    <section>
                        <ol>
                            <p>ユーザ名を入力してください。</p>
                        </ol>
                    </section>
                </div>
            </div>

            <!-- エラーダイアログ -->
            <div class="error requestUsers-error"><p></p></div>

            <div class="modal-buttons d-flex justify-content-between">
                <!-- 依頼者一覧表示ボタン -->
                <button id="btn_todoRequestUserList" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_todoListRequest" data-bs-dismiss="modal">依頼者一覧</button>

                <!-- 依頼決定ボタン -->
                <button id="btn_todoSelectRequest" type="button" class="btn btn-primary">依頼する</button>
            </div>
        </div>
    </div>
</div>

<!-- modal_todoListRequest -->
<div class="modal fade" id="modal_todoListRequest" tabindex="-1" aria-labelledby="modal_modal_todoListRequestLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div style="margin-right: auto; width: 1rem;"></div>
                <h5 class="modal-title" id="modal_modal_todoListRequestLabel">依頼者選択</h5>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#modal_todoSelectRequest" data-bs-dismiss="modal"></button>
            </div>
            <div class="container-fluid p-1 m-4"
                style="background-color:rgb(228, 228, 228,0.3); height: 40rem; width: auto; overflow-y: scroll;">
                <div class="modal-body" style="padding: 1.5rem;">

                    <!-- 依頼者一覧リスト -->
                    <section>
                        <ol>
                            <p>依頼者はまだ選択されていません。</p>
                        </ol>
                    </section>
                </div>
            </div>

            <!-- 閉じるボタン -->
            <div class="modal-buttons d-flex justify-content-center">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_todoSelectRequest" data-bs-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<!-- modal_todoSelectBocchi -->
<div class="modal fade" id="modal_todoSelectBocchi" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body" style="background-color:rgba(208, 208, 208, 0.5)">
                <div class="dialog-text">
                    依頼人数を選択してください
                </div>

                <form id="form_todoSelectBocchi" class="mt-2 px-5">
                    <input class="form-control" type="number" name="bocchi" min="1" max="10" value="1">
                    <div class="error bocchi-error"></div>
                </form>
            </div>

            <!-- ボタン -->
            <div class="modal-body d-flex justify-content-between" style="padding-left: 2rem;padding-right: 2rem;">
                <!-- 戻るボタン -->
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_todoCreate" data-bs-dismiss="modal">戻る</button>
                
                <!-- 進むボタン -->
                <button id="btn_todoSelectBocchi" type="button" class="btn btn-primary">依頼する</button>
            </div>
        </div>
    </div>
</div>


<!-- modal_todoCreate_success -->
<div class="modal fade" id="modal_todoCreate_success" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex justify-content-center" style="padding: 1.5rem;">
                <div class="dialog-text">
                    タスクが作成されました
                </div>
            </div>
            <!-- 閉じるボタン -->
            <div class="modal-body d-flex justify-content-center" style="padding: 1.5rem;">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">閉じる</button>     
            </div>
        </div>
    </div>
</div>
<!-- modal_todoCreate_numCheck -->
<div class="modal fade" id="modal_todoCreate_numCheck" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex justify-content-center" style="padding: 1.5rem;">
                <div class="dialog-text">
                    依頼者が一人もいません。よろしいですか？
                </div>
            </div>
            <!-- 閉じるボタン -->
            <div class="modal-body d-flex justify-content-between" style="padding: 1.5rem;">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">戻る</button>    
                <button id="btn_todoSelectRequest_numCollect" type="button" class="btn btn-primary">はい</button>    
            </div>
        </div>
    </div>
</div>
<!-- modal_todoCreate_failed -->
<div class="modal fade" id="modal_todoCreate_failed" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex justify-content-center" style="padding: 1.5rem;">
                <div class="dialog-text">
                    登録内容が不正です
                </div>
            </div>
            <!-- 閉じるボタン -->
            <div class="modal-body d-flex justify-content-center" style="padding-left: 2rem;padding-right: 2rem;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_todoCreate" data-bs-dismiss="modal">閉じる</button>     
            </div>
        </div>
    </div>
</div>

<!-- メイン画面 -->
<div class="header text-center border-bottom pb-2 pt-3">
    <h1>自分のタスク</h1>
    <div id="btn_iconLogo" class="iconLogo" data-bs-toggle="modal" data-bs-target="#modal_accountSetting">
        <img src="{% static 'home/images/icon_human.jpeg' %}" alt="">
    </div>
</div>

<div class="accordion" id="accordion-myTaskList">
    <div class="accordion-item">
        <h2 class="accordion-header" id="myTaskList-headingOne">
            <div class="accordion-button" data-bs-toggle="collapse" data-bs-target="#myTaskList-collapseOne"
                aria-expanded="true" aria-controls="myTaskList-collapseOne">
                作成済みのタスク(2)
            </div>
        </h2>
        <div id="myTaskList-collapseOne" class="accordion-collapse collapse show no-click"
            aria-labelledby="myTaskList-headingOne">
            <div class="accordion-body">
                <ul class="myTaskList myTaskList--1">
                    <li class="myTaskListItem">
                        <div class="myTaskListItem__icon"><img src="{% static 'home/images/icon_noncheck.svg' %}"
                                alt=""></div>
                        <div class="myTaskListItem__text">動画作成</div>
                    </li>
                    <li class="myTaskListItem">
                        <div class="myTaskListItem__icon"><img src="{% static 'home/images/icon_noncheck.svg' %}"
                                alt=""></div>
                        <div class="myTaskListItem__text">依頼動画作成</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="myTaskList-headingTwo">
            <div class="accordion-button" data-bs-toggle="collapse" data-bs-target="#myTaskList-collapseTwo"
                aria-expanded="true" aria-controls="myTaskList-collapseTwo">
                一次チェック済み(2)
            </div>
        </h2>
        <div id="myTaskList-collapseTwo" class="accordion-collapse collapse show"
            aria-labelledby="myTaskList-headingTwo">
            <div class="accordion-body">
                <ul class="myTaskList myTaskList--2">
                    <li class="myTaskListItem">
                        <div class="myTaskListItem__icon"><img src="{% static 'home/images/icon_send.svg' %}" alt="">
                        </div>
                        <div class="myTaskListItem__text">予定のメール送信</div>
                        <div class="myTaskListItem__users">
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                        </div>
                    </li>
                    <li class="myTaskListItem">
                        <div class="myTaskListItem__icon"><img src="{% static 'home/images/icon_send.svg' %}" alt="">
                        </div>
                        <div class="myTaskListItem__text">絵コンテを書ききる</div>
                        <div class="myTaskListItem__users">
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="myTaskList-headingThree">
            <div class="accordion-button" data-bs-toggle="collapse" data-bs-target="#myTaskList-collapseThree"
                aria-expanded="true" aria-controls="myTaskList-collapseThree">
                完了済み(3)
            </div>
        </h2>
        <div id="myTaskList-collapseThree" class="accordion-collapse collapse show"
            aria-labelledby="myTaskList-headingThree">
            <div class="accordion-body">
                <ul class="myTaskList myTaskList--3">
                    <li class="myTaskListItem">
                        <div class="myTaskListItem__icon"><img src="{% static 'home/images/icon_check.svg' %}" alt="">
                        </div>
                        <div class="myTaskListItem__text">掃除を終わらせる</div>
                        <div class="myTaskListItem__users">
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                        </div>
                    </li>
                    <li class="myTaskListItem">
                        <div class="myTaskListItem__icon"><img src="{% static 'home/images/icon_check.svg' %}" alt="">
                        </div>
                        <div class="myTaskListItem__text">ポートフォリオ作成</div>
                        <div class="myTaskListItem__users">
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                        </div>
                    </li>
                    <li class="myTaskListItem">
                        <div class="myTaskListItem__icon"><img src="{% static 'home/images/icon_check.svg' %}" alt="">
                        </div>
                        <div class="myTaskListItem__text">確定申告</div>
                        <div class="myTaskListItem__users">
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                            <div class="myTaskListItem__user"><img src="{% static 'home/images/icon_human.jpeg' %}"
                                    alt=""></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="btn_taskPlusButton" class="taskPlusButton cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal_todoCreate">
    <div class="taskPlusButton__inner">
        <div class="taskPlusButton__btn"><img src="{% static 'home/images/icon_plus.svg' %}" alt=""></div>
    </div>
</div>
<div class="footer">
    <div class="footer__inner">
        <div class="footerTab">
            <div class="footerTab__item footerTab__item--home"><img
                    src="{% static 'home/images/icon_home_active.svg' %}" alt=""></div>
            <div class="footerTab__item footerTab__item--other is-new"><img
                    src="{% static 'home/images/icon_other.svg' %}" alt=""></div>
        </div>
    </div>
</div>

{% endblock %}


{% block foot %}
<script type="text/javascript" src="{% static 'home/js/script.js' %}"></script>
{% endblock %}