{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/css/todo_style.css' %}">
<link rel="stylesheet" href="{% static 'other/css/style.css' %}">
{% endblock %}

{% block content %}

{% include 'todo/include/todo_topbase.html' %}

<!-- modal_todoOtherTaskDetail -->
<div class="modal fade" id="modal_todoOtherTaskDetail" tabindex="-1" aria-labelledby="modal_todoOtherTaskDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div style="margin-right: auto; width: 1rem;"></div>
                <h5 class="modal-title" id="modal_todoOtherTaskDetailLabel">タスクの詳細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 1.5rem;">
                <table class="table-res-form" id="js-ele_todoOtherTaskDetailTable">
                    <!-- 動的に生成する部分 -->
                </table>
            </div>
            <div class="taskCheckButton">
                <div class="taskCheckButton__btn" id="js-btn_todoOtherTaskCheck">
                    <img src="/static/other/images/icon_check.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- メイン画面 -->
<div class="header text-center border-bottom pb-2 pt-3">
    <h1>他人のタスク</h1>
    <div id="btn_iconLogo" class="iconLogo" data-bs-toggle="modal" data-bs-target="#modal_accountSetting">
        <img class="account-icon" src="{{ iconpath }}" alt="">
    </div>
</div>

<div class="sortButtonAndTaskNum d-flex justify-content-between">
    <div class="taskNum js-otherTaskNum">
        <span class="js-num">0</span>個のタスク
    </div>
    <div>
        <select class="sortMenu js-otherTask_sortMenu">
            <option>日付順</option>
            <option>重要度</option>
            <option>タイトル順</option>
            <option>依頼者</option>
        </select>
    </div>
</div>

<div class="accordion" id="accordion-otherTaskList">
    <!-- 動的に生成する部分 -->
</div>
<div class="footerMargin"></div>
<div class="footer">
    <div class="footer__inner">
        <div class="footerTab">
            <a href="{% url 'home' %}"  class="footerTab__item footerTab__item--home"><img
                    src="{% static 'common/images/icon_home.svg' %}" alt=""></a>
            <div class="footerTab__item footerTab__item--other"><img
                    src="{% static 'common/images/icon_other_active.svg' %}" alt=""></div>
        </div>
    </div>
</div>

{% endblock %}

{% block foot %}
<script type="text/javascript" src="{% static 'common/js/todo_script.js' %}"></script>
<script type="text/javascript" src="{% static 'other/js/script.js' %}"></script>
{% endblock %}