.btn--purple,
a.btn--purple {
  color: #fff;
  background-color: #6200ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--purple:hover,
a.btn--purple:hover {
  color: #fff;
  background: #340175;
  display: flex;
}

.btn--purple--center,
a.btn--purple--center {
  color: #fff;
  background-color: #6200ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--purple--center:hover,
a.btn--purple--center:hover {
  color: #fff;
  background: #340175;
  display: flex;
  align-items: center;
  justify-content: center;
}

