/* ----------------------------
myTaskList
----------------------------- */
.no-click {
    pointer-events: none!important;
}
.myTaskList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.myTaskListItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.myTaskListItem:not(:last-child) {
    margin-bottom: 30px;
}

.myTaskListItem__icon {
    width: 24px;
    cursor: pointer;
}
.myTaskListItem__text {
    width: calc(80% - 50px);
    cursor: pointer;
}
.myTaskListItem__users {
    width: 20%;
    position: relative;
    z-index: 0;
}
.myTaskList.myTaskList--1 .myTaskListItem__text {
    width: calc(100% - 37px);
}
.myTaskList.myTaskList--3 .myTaskListItem__text {
    text-decoration: line-through;
}

.myTaskListItem__user {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.myTaskListItem__user:nth-child(1) {
    left: 0;
    z-index: 4;
}
.myTaskListItem__user:nth-child(2) {
    left: 13px;
    z-index: 3;
}
.myTaskListItem__user:nth-child(3) {
    left: 26px;
    z-index: 2;

}
.myTaskListItem__user:nth-child(4) {
    left: 39px;
    z-index: 1;
}
.myTaskListItem__user:nth-child(n + 5) {
    display: none
}

/* ----------------------------
taskPlusButton
----------------------------- */
.taskPlusButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.taskPlusButton__inner {
    max-width: 560px;
    margin: 0 auto;
    position: relative;
}
.taskPlusButton__btn {
    position: absolute;
    bottom: 65px;
    right: 4%;
    width: 56px;
    height: 56px;
    background: #03DAC5;
    border-radius: 50%;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, .25);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------
modal_todoCreate
----------------------------- */
/*テーブルを親要素の幅いっぱいに伸ばす*/
#modal_todoCreate .table-res-form {
    width: 100%;
    table-layout: fixed;
}
/*一行ごとに上ボーダー*/
#modal_todoCreate .table-res-form tr {
    border-top: none;
}
/*一番上の行だけボーダーなし*/
#modal_todoCreate .table-res-form tr:first-child {
    border-top: none;
}
/*背景色つける*/
#modal_todoCreate .table-res-form tr:nth-child(2n+1) {
    background: #eee;
}

#modal_todoCreate .table-res-form tr .error{
    word-break: keep-all;
}

/*thとtd内の余白指定*/
#modal_todoCreate .table-res-form th, .table-res-form td {
    padding: 0.7em;
}
/*th（項目欄）は30%幅、テキストを左寄せ*/
#modal_todoCreate .table-res-form th {
    width: 25%;
    text-align: left;
}

/* 期限日の年、月、日のテキスト */
#modal_todoCreate .date{
   padding-top: 0.4rem;
}

/* エラーダイアログのテキスト */
#modal_todoCreate .table-res-form tr .error{
    font-size: small;
    padding: 0.5rem;
}

/* メモ入力フォーム */
#modal_todoCreate .input-memo{
    margin-top: 1rem;
    border-radius: 3px;
}

@media (max-width: 480px) {
    #modal_todoCreate table {
        width: 100%;
    }
 
    #modal_todoCreate table th,
    #modal_todoCreate table td {
        display: block;
    }
}

/* ----------------------------
modal_todoUpdate
----------------------------- */
/*テーブルを親要素の幅いっぱいに伸ばす*/
#modal_todoUpdate .table-res-form {
    width: 100%;
    table-layout: fixed;
}
/*一行ごとに上ボーダー*/
#modal_todoUpdate .table-res-form tr {
    border-top: none;
}
/*一番上の行だけボーダーなし*/
#modal_todoUpdate .table-res-form tr:first-child {
    border-top: none;
}
/*背景色つける*/
#modal_todoUpdate .table-res-form tr:nth-child(2n+1) {
    background: #eee;
}

#modal_todoUpdate .table-res-form tr .error{
    word-break: keep-all;
}

/*thとtd内の余白指定*/
#modal_todoUpdate .table-res-form th, .table-res-form td {
    padding: 0.7em;
}
/*th（項目欄）は30%幅、テキストを左寄せ*/
#modal_todoUpdate .table-res-form th {
    width: 25%;
    text-align: left;
}

/* 期限日の年、月、日のテキスト */
#modal_todoUpdate .date{
   padding-top: 0.4rem;
}

/* エラーダイアログのテキスト */
#modal_todoUpdate .table-res-form tr .error{
    font-size: small;
    padding: 0.5rem;
}

/* メモ入力フォーム */
#modal_todoUpdate .input-memo{
    margin-top: 1rem;
    border-radius: 3px;
}

@media (max-width: 480px) {
    #modal_todoUpdate table {
        width: 100%;
    }
 
    #modal_todoUpdate table th,
    #modal_todoUpdate table td {
        display: block;
    }
}

/* ----------------------------
modal_todoFirstCheck
----------------------------- */
/*テーブルを親要素の幅いっぱいに伸ばす*/
#modal_todoFirstCheck .table-res-form {
    width: 100%;
    table-layout: fixed;
}
/*一行ごとに上ボーダー*/
#modal_todoFirstCheck .table-res-form tr {
    border-top: none;
}
/*一番上の行だけボーダーなし*/
#modal_todoFirstCheck .table-res-form tr:first-child {
    border-top: none;
}
/*背景色つける*/
#modal_todoFirstCheck .table-res-form tr:nth-child(2n+1) {
    background: #eee;
}

#modal_todoFirstCheck .table-res-form tr .error{
    word-break: keep-all;
}

/*thとtd内の余白指定*/
#modal_todoFirstCheck .table-res-form th, .table-res-form td {
    padding: 0.7em;
}
/*th（項目欄）は30%幅、テキストを左寄せ*/
#modal_todoFirstCheck .table-res-form th {
    width: 25%;
    text-align: left;
}

/* 期限日の年、月、日のテキスト */
#modal_todoFirstCheck .date{
   padding-top: 0.4rem;
}

/* エラーダイアログのテキスト */
#modal_todoFirstCheck .table-res-form tr .error{
    font-size: small;
    padding: 0.5rem;
}

/* メモ入力フォーム */
#modal_todoFirstCheck .input-memo{
    margin-top: 1rem;
    border-radius: 3px;
}

#modal_todoFirstCheck .photo{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 1rem;
}

#modal_todoFirstCheck .information{
    text-align: left;
    font-size: large;
    margin-bottom: 1rem;
}

@media (max-width: 480px) {
    #modal_todoFirstCheck table {
        width: 100%;
    }
 
    #modal_todoFirstCheck table th,
    #modal_todoFirstCheck table td {
        display: block;
    }
}

#modal_todoFirstCheck #todo_firstCheckImg {
    display: none;
}
#modal_todoFirstCheck #todo_firstCheckMovie {
    display: none;
}

/* ----------------------------
modal_todoCreate_failed,
modal_todoCreate_success,
modal_todoCreate_numCheck,
modal_todoUpdate_completeCheck,
modal_todoUpdate_success,
modal_todoUpdate_send,
modal_todoDelete_check,
#modal_todoDelete_success
----------------------------- */
#modal_todoCreate_failed .dialog-text,
#modal_todoCreate_success .dialog-text,
#modal_todoCreate_numCheck .dialog-text,
#modal_todoUpdate_completeCheck .dialog-text,
#modal_todoUpdate_success .dialog-text,
#modal_todoUpdate_send .dialog-text,
#modal_todoDelete_check .dialog-text,
#modal_todoDelete_success .dialog-text {
    padding-top: 2rem;
    font-size: large;
}

/* ----------------------------
modal_todoSelectBocchi
----------------------------- */
#modal_todoSelectBocchi .dialog-text{
    text-align: center;
    font-size: large;
}


/* ----------------------------
modal_todoSelectRequest,
modal_todoListRequest
----------------------------- */
#modal_todoSelectRequest section ol,
#modal_todoListRequest section ol {
	margin: 0;
	padding: 0;
	font-size: 86%;
	list-style: none;
    padding-top: 1rem;
}
#modal_todoSelectRequest section ol li,
#modal_todoListRequest section ol li {
    padding-top: 1.2rem;
	padding-left: 2.5rem;
	line-height: 2.5em;
	background: left top no-repeat;
	background-size: 30px auto;
    border-bottom: 1px solid;
}
#modal_todoSelectRequest section ol li,
#modal_todoListRequest section ol li {
	background-image: url(/static/common/images/default_icon.jpeg);
    background-size: 35px;
    background-position-y: bottom;
}

#modal_todoSelectRequest section ol li .addPlus,
#modal_todoListRequest section ol li .addPlus {
    width: 35px;
    height: 35px;
    float: right;
    background-repeat: no-repeat;
}

#modal_todoSelectRequest .error,
#modal_todoListRequest .error {
    padding-left: 1.5rem;
    padding-top: 0;
}

#modal_todoSelectRequest .modal-buttons,
#modal_todoListRequest .modal-buttons {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
